[2020-06-23 15:30] brentzundel opened #2 "rename master branch"
# Summary
We should rename the branch `master` to `main` and use that going forward for our work.

From [Problematic Terminology in Open-Source](https://blog.carbonfive.com/2018/10/08/problematic-terminology-in-open-source/) on master/slave terminology in software:

Removing this terminology from our workflow is a small gesture to include more people from marginalized groups in this project.

(I’m

[2020-06-23 15:44] selfissued commented on #2
Please no.  This wouldn't just affect the primary repository.  This would affect every branch, every fork, and every local clone, requiring manual steps by all participants to make parallel changes to these copies.  The chances of everyone getting this right are close to zero.

Using git correctly is already complicated enough.  Please don't make this repository even more complicated than usual.

[2020-07-01 17:28] OR13 opened #3 "PROPOSAL: The test suite will be dockerized"
This will allow for anyone to easily run the test suite, on their own machines, without installing the developer dependencies required to run the test suite... if they choose to use docker.

[2020-07-01 17:29] OR13 opened #4 "PROPOSAL: The test suite structured input will be in yaml and structured output will be in json"
yaml is easy to read
json is easy to transform for rendering in web pages.

[2020-07-01 17:32] OR13 opened #5 "PROPOSAL: the test suite will support strings first and callback second."
Because callback tests are complex to implement, they should be tackled after we have tackled strings.

This means we don't need to worry about "integrations with external systems / blockchains / libraries" at the start... but we can tackle support for them _after_ we have shown the simple strings versions to be providing the kind of coverage we need.

[2020-07-01 17:55] iherman commented on #4
Is this a valid argument? The 'input' is to be read by a machine, after all, not for humans.

json is _a bit_ easier but not much; at least in node the javascript yaml parsers offer the same interface as the built-in json parser.

I guess what bothers me is the asymmetry. I do not have strong feeling on choosing between json or yaml (both are o.k. as far as I am concerned), but I would think the i

[2020-07-06 17:26] OR13 commented on #4
sure, both could be JSON. I'd be fine with that.

[2020-08-25 20:43] OR13 commented on #3
Here is a solution: https://github.com/OR13/did-core-tests

[2020-08-25 20:43] OR13 commented on #4
RESOLVED: Both should be JSON.

[2020-08-25 20:43] #4 closed

[2020-08-25 20:46] OR13 opened #6 "Test suite URL is not correct"
Should be https://w3c.github.io/did-test-suite/
Currently points to use cases.

[2020-08-26 07:21] iherman commented on #6
Oops, sorry! My fault.

Done, closing.

[2020-08-26 07:21] #6 closed

[2020-08-27 10:23] gspmishra opened #7 "Validate command cli"
While implementation of validate command on the cli application what should the logic be. As in the README file it is not clearly mentioned.

[2020-09-01 23:07] OR13 commented on #7
I am not sure how we will align the CLI with the test suite, but I expect we will address this soon.

[2020-09-01 23:08] OR13 commented on #3
https://github.com/w3c/did-core/issues/384

[2020-09-26 13:18] OR13 opened #8 "Can we remove the BSD Digital Bazaar License?"

[2020-09-26 15:08] OR13 opened #10 "I request to be made an editor of this repo"

[2020-09-29 07:58] peacekeeper commented on #5
+1 to doing the test suite without direct integrations first. But the test suite should still be executed against data that was generated by an external implementation/library that is to be tested. I.e. testing should work like this:

1. Execute the implementation/library in some way, providing certain inputs.
2. The inputs and outputs from step 1 are sent to the test server, which runs asseration

[2020-10-14 09:16] iherman commented on #10
@OR13, you and @msporny have now push access to the master branch, that should also allow you to do PR merge.

Please check and, if it is o.k., I think this issue can be closed.

[2020-10-14 14:24] OR13 commented on #10
thanks! closing.

[2020-10-14 14:24] #10 closed

[2020-10-14 14:24] OR13 commented on #8
I removed it.

[2020-10-14 14:24] #8 closed

[2020-10-14 14:25] OR13 commented on #7
The CLI commands are no longer relevant, see the readme for the latest instructions. closing this, but feel free to open an new issues if you have trouble.

[2020-10-14 14:25] #7 closed

[2020-10-14 14:26] #5 closed

[2020-10-14 14:29] OR13 commented on #2
Its possible for us to do this, but I'm not going to unless directed to by chairs.

if we do it here, we should do it everywhere, at the same time...

IMO we should not do this, we already have enough problems with ECHIDNA / respec hosting...

however, if we are required to implement this change, we can only really do so when there are no PRs open.

so sooner rather than later on this decision wou

[2020-10-14 21:26] brentzundel commented on #2
A conversation is ongoing here: https://github.com/w3c/did-core/issues/332
GitHub and the W3C are both moving forward with plans to make this change simpler, but to my understanding they are not ready yet.

[2020-11-04 16:32] OR13 opened #13 "Transmute is testing the entire specification"
See https://transmute-industries.github.io/did-core/

[2020-11-04 23:17] peacekeeper opened #14 "Danube Tech is testing these sections of the spec"
Additional sections TBD....

- [ ] did-syntax https://w3c.github.io/did-core/#did-syntax (draft PR in progress, see https://github.com/w3c/did-test-suite/pull/12)
- [ ] did-url-syntax https://w3c.github.io/did-core/#did-url-syntax

[2020-12-01 19:57] csuwildcat opened #15 "Unclear how to run the tests"
There is no clear run command that I could find, how to do you run all the tests?

[2020-12-05 18:18] OR13 commented on #15
https://github.com/w3c/did-test-suite#usage

[2020-12-05 18:21] OR13 opened #17 "Tests are confusing, consider refactoring"
I have improved on the initial approach taken here, in https://github.com/transmute-industries/vc.transmute.world

I am currently hosting a test server, which can be used to run the tests, their interfaces are substantially simpler:

https://github.com/transmute-industries/vc.transmute.world/blob/master/packages/jest-test-server/suites/issuer-api/issuer-api.spec.js

If its desired, I can refactor

[2020-12-09 17:05] peacekeeper commented on #17
I think this would make sense. Even though I have spent quite some time trying to contribute to this test suite (see https://github.com/w3c/did-test-suite/pull/12), it's still not entirely clear to me how it can be used against an actual implementation.

With the earlier VC HTTP API test suite you built, both extending the test suite, and testing a concrete implementation felt much simpler.

(That

[2021-01-23 22:10] #15 closed

[2021-01-23 22:10] OR13 commented on #15
see readme, raise issue again if not clear,

[2021-01-23 22:11] OR13 commented on #17
refactoring complete, closing

[2021-01-23 22:11] #17 closed

[2021-02-22 02:18] msporny opened #21 "Need tests for Syntax and DID URL Syntax"
[3.1 DID Syntax \
](https://w3c.github.io/did-core/#did-syntax)All [DIDs](https://w3c.github.io/did-core/#dfn-decentralized-identifiers) _MUST_ conform to the DID Syntax ABNF Rules.

<table>
  <tr>
   <td><strong>The DID Syntax ABNF Rules</strong>
   </td>
  </tr>
  <tr>
   <td><code>did                = "did:" method-name ":" method-specific-id</code>
<p>
<code>method-name        = 1*method-char<

[2021-02-22 02:20] msporny opened #22 "Need tests for DID Parameters"
[3.2.1 DID Parameters](https://w3c.github.io/did-core/#did-parameters)

<table>
  <tr>
   <td><strong>Parameter Name</strong>
   </td>
   <td><strong>Description</strong>
   </td>
  </tr>
  <tr>
   <td><code><a href="https://sites.local/did-core/#dfn-service">service</a></code>
   </td>
   <td>
If present, the associated value <em>MUST</em> be an <a href="https://infra.spec.whatwg.org/#ascii-strin

[2021-02-22 02:22] msporny opened #23 "Need tests for Core Properties"
[5.1.1 DID Subject \
](https://w3c.github.io/did-core/#did-subject)The value of `id` _MUST_ be a [string](https://infra.spec.whatwg.org/#string) that conforms to the rules in [§ 3.1 DID Syntax](https://w3c.github.io/did-core/#did-syntax) and _MUST_ exist in the root [map](https://infra.spec.whatwg.org/#ordered-map) of the [data model](https://w3c.github.io/did-core/#data-model) for the [DID docume

[2021-02-22 02:23] msporny opened #24 "Need test for Conforming Producer"
6.1 Production and Consumption - A conforming producer MUST take a DID document data model and a representation-specific entries map as input into the production process. The conforming producer MAY accept additional options as input into the production process.

6.1 Production and Consumption - A conforming producer MUST serialize all entries in the DID document data model, and the representation

[2021-02-22 02:23] msporny opened #25 "Need tests for Conforming Consumer"
6.1 Production and Consumption - A conforming consumer MUST take a representation and Media Type string as input into the consumption process. A conforming consumer MAY accept additional options as input into the consumption process.

6.1 Production and Consumption - A conforming consumer MUST determine the representation of a DID document using the Media Type input string.

6.1 Production and Con

[2021-02-22 02:24] msporny opened #26 "Need tests for JSON Production and Consumption"
[6.2.1 JSON Production \
](https://w3c.github.io/did-core/#production)The [DID document](https://w3c.github.io/did-core/#dfn-did-documents) and any DID document data structures expressed by the [data model](https://w3c.github.io/did-core/#data-model) _MUST_ be serialized to the JSON [representation](https://w3c.github.io/did-core/#dfn-representations) according to the following [production](https:

[2021-02-22 02:25] msporny opened #27 "Need tests for JSON-LD Production and Consumption"
[6.3.1 JSON-LD Production \
](https://w3c.github.io/did-core/#production-0)The [DID document](https://w3c.github.io/did-core/#dfn-did-documents) and any DID document data structures expressed by the [data model](https://w3c.github.io/did-core/#data-model) _MUST_ be serialized to the JSON-LD [representation](https://w3c.github.io/did-core/#dfn-representations) according to the JSON [representation]

[2021-02-22 02:26] msporny opened #28 "Need tests for CBOR Production and Consumption"
6.4.1 CBOR Production

All [DID document](https://w3c.github.io/did-core/#dfn-did-documents) data structures expressed by the [data model](https://w3c.github.io/did-core/#data-model) _MUST_ be serialized to the CBOR [representation](https://w3c.github.io/did-core/#dfn-representations) according to the following [production](https://w3c.github.io/did-core/#dfn-production) rules:

<table>
  <tr>

[2021-02-22 02:26] msporny opened #29 "Need tests for DID Resolution"
[7. Resolution \
](https://w3c.github.io/did-core/#resolution)All conformant [DID resolvers](https://w3c.github.io/did-core/#dfn-did-resolvers) _MUST_ implement the [DID resolution](https://w3c.github.io/did-core/#dfn-did-resolution) functions for at least one [DID method](https://w3c.github.io/did-core/#dfn-did-methods) and _MUST_ be able to return a [DID document](https://w3c.github.io/did-core/

[2021-02-22 02:27] msporny opened #30 "Need tests for DID URL Dereferencing"
[7.2 DID URL Dereferencing \
](https://w3c.github.io/did-core/#did-url-dereferencing)didUrl - A conformant [DID URL](https://w3c.github.io/did-core/#dfn-did-urls) as a single [string](https://infra.spec.whatwg.org/#string). This is the [DID URL](https://w3c.github.io/did-core/#dfn-did-urls) to dereference. To dereference a [DID fragment](https://w3c.github.io/did-core/#dfn-did-fragments), the comp

[2021-02-22 02:27] msporny opened #31 "Need tests for Metadata Structure"
[7.3 Metadata Structure \
](https://w3c.github.io/did-core/#metadata-structure)

The structure used to communicate this metadata _MUST_ be a [map](https://infra.spec.whatwg.org/#maps) of properties.

Each property name _MUST_ be a [string](https://infra.spec.whatwg.org/#string).

Each property value _MUST_ be a [string](https://infra.spec.whatwg.org/#string), [map](https://infra.spec.whatwg.org/#m

[2021-02-22 02:36] msporny commented on #14
Please close in favor of #21.

[2021-02-22 09:01] #14 closed

[2021-02-22 09:02] peacekeeper commented on #21
Danube Tech has contributed some early test code for DID and DID URL Syntax in https://github.com/w3c/did-test-suite/pull/12 and will continue to work on updating these tests if needed.

[2021-02-23 23:47] OR13 commented on #26
@csuwildcat any chance Microsoft / you can help test the representation you fought so hard for us to include :) ?

[2021-02-25 17:55] OR13 opened #32 "We need to refactor fixtures for implementers"
We need to clearly show the difference between abstract and concrete representations.

there should be did document data models for both abstract and concrete examples

[2021-02-25 18:00] OR13 commented on #32
I am asserting that no PRs will make it in until we have at least one example of an implementer fixture that shows how to do this... and its going to be dangerous to skip over it.

[2021-03-02 20:18] brentzundel opened #33 "need clear instructions for implementers"
Implementers need a clear set of instructions that includes:
1. a pointer to the tests themselves and general information about what is tested
2. guidance on how to test and submit an implementation report
3. How to view the summary of submitted reports

I think number three is probably covered, but I'm not finding the first two.

[2021-03-02 20:20] brentzundel commented on #33
https://github.com/w3c/vc-test-suite may serve as an example

[2021-03-08 19:07] wyc commented on #25
@clehner will be implementing this on behalf of Spruce.

[2021-03-08 19:07] wyc commented on #25
@clehner will be implementing this on behalf of @sprucesystems.

[2021-03-08 19:08] wyc commented on #22
@clehner will be implementing this on behalf of @spruceid.

[2021-03-15 00:53] shigeya opened #36 "Use of better jest matchers"
By using matchers provided by packages like [`jest-extend`](jest-community/jest-extended), we can simplify, like this

to:

There are a set of jest matchers available for primitives like arrays and maps.

Also, we can implement customized jest matchers (like the one matches with DID or DID URL string pattern) which will greatly simplify the tests with better readability.

Note: Adding the library

[2021-03-15 04:41] shigeya commented on #36
I now realize the above example is wrong (it's ASCII only). But the point is to use the jest matchers as much as possible.

[2021-03-21 18:40] msporny commented on #23
This is implemented in #38. This issue should be closed once that is merged.

[2021-03-21 20:30] msporny commented on #27
PRs #39 and #40 have been raised to address this issue. This issue should be closed once those have been merged.

[2021-03-21 20:59] msporny commented on #24
PR #41 has been raised to address this issue. This issue should be closed once that PR has been merged.

[2021-03-23 21:58] msporny commented on #2
I can do this in like 5 minutes... it's easy. I'll bring it up on the call today, there's no good reason for us to just not move to `main` now.

[2021-03-23 23:14] peacekeeper commented on #24
The normative statements listed in this issue need to be updated to match what's in the CR spec now (especially section 6.1):

https://www.w3.org/TR/2021/CR-did-core-20210318/#production-and-consumption

[2021-03-23 23:14] peacekeeper commented on #25
The normative statements listed in this issue need to be updated to match what's in the CR spec now (especially section 6.1):

https://www.w3.org/TR/2021/CR-did-core-20210318/#production-and-consumption

[2021-03-24 20:58] msporny commented on #25
I have just updated the normative statements for this issue to match what's in the spec.

[2021-03-24 20:58] msporny commented on #24
I have just updated the normative statements for this issue to match what's in the spec.

[2021-03-25 10:20] iherman commented on #2
Done on 2021-03-25.

[2021-03-25 10:20] #2 closed

[2021-03-25 19:05] msporny commented on #22
@clehner could you please go back through the tests and add the section number beside each test: https://github.com/w3c/did-test-suite/pull/34/files#diff-3180d1c8eeef857a89a3d40db4c10240e9a5ade6f31d224cc111c9708f927906R19

Like this:

https://github.com/w3c/did-test-suite/blob/main/packages/did-core-test-server/suites/did-spec/did-core-properties.js#L20-L22

It's going to be very hard to line fail

[2021-03-25 20:14] clehner commented on #22
Will do.

[2021-03-26 17:15] peacekeeper commented on #31
@msporny I edited your comment to reflect the latest version of the spec.

[2021-03-26 17:16] peacekeeper commented on #29
@msporny I edited your initial comment to reflect the latest version of the spec.

[2021-03-26 17:16] peacekeeper commented on #30
@msporny I edited your initial comment to reflect the latest version of the spec.

[2021-03-30 22:15] shigeya commented on #31
I'm wondering how we can test this statement:

How do we know property definitions on the test suite side? We just assume non-core properties to be in the spec registry?

[2021-03-30 22:51] msporny commented on #23
#38 has been merged, closing.

[2021-03-30 22:51] #23 closed

[2021-03-30 22:51] msporny commented on #27
PRs #39 and #40 have been merged, closing.

[2021-03-30 22:51] #27 closed

[2021-03-30 22:52] OR13 commented on #36
I would propose writing a helper function and using it for these common cases, like "valid URL or valid ASCII"

[2021-03-30 22:54] OR13 commented on #33
This is blocked by enough "good examples" of "real did methods"

[2021-03-30 22:56] OR13 commented on #33
I will add instruction when suite stabilizes and covers reasonable amount of the spec.

[2021-03-30 23:11] shigeya commented on #36
I think we want to have mathers for most of the cases which call funcitons in the `utils` module.

For the most of the core types, we can use jest-extended.  I propose to write a notes on preferred way to write test using matchers.

[2021-03-31 04:40] iherman commented on #31
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section7-4) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.4. Need tests for Metadata Structure

_See github issue [did-test-suite#31](https://github.com/w3c/did-test-suite/issues/31)._

**Shigeya Suzuki:** I almost finished writing tests

[2021-03-31 04:40] iherman commented on #32
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section7-3) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.3. We need to refactor fixtures for implementers

_See github issue [did-test-suite#32](https://github.com/w3c/did-test-suite/issues/32)._

**Orie Steele:** Same point Markus and

[2021-03-31 04:40] iherman commented on #33
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section7-2) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.2. need clear instructions for implementers

_See github issue [did-test-suite#33](https://github.com/w3c/did-test-suite/issues/33)._

**Brent Zundel:** When an implementer goes t

[2021-03-31 04:40] iherman commented on #36
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section7-1) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.1. Use of better jest matchers

_See github issue [did-test-suite#36](https://github.com/w3c/did-test-suite/issues/36)._

**Brent Zundel:** shigeya, can you talk about it?

**Shig

[2021-04-01 16:26] OR13 opened #48 "Producer tests should be of the ADM not resolution result"
We need the producer tests to be of an ADM representation, and not a resolution result

[2021-04-01 16:27] OR13 commented on #48
See concerns here: https://github.com/w3c/did-test-suite/pull/41#issuecomment-812023105

[2021-04-01 16:32] OR13 opened #49 "Proposal to refactor the input json into js files"
so we can build larger configurations from smaller more atomic ones.

[2021-04-01 16:35] OR13 opened #50 "Proposal to create a suite per major section of the spec"
This will reduce conflicts and improve codeownership, it will also enable better testing in isolation, which should make it easier to work on tests.

[2021-04-01 16:47] OR13 commented on #48
@clehner I will try to assign you per our conversation on the call

[2021-04-01 16:48] OR13 commented on #49
@peacekeeper and I discussed that this was probably better to tackle at the same time as the other refactoring you signed up for :)

[2021-04-01 16:49] OR13 commented on #50
Similar reasoning for assigning you this as we had for https://github.com/w3c/did-test-suite/issues/49... make sure to delegate if its not achievable.

[2021-04-01 16:51] OR13 opened #51 "How will be produce visualization of the test results"
- At minimum we want to see Green checkmarks Red X's for tests in the spec.
- List fo implementers for every test.
- Goal is in each row to have at least 2 greens.
- Having a human readable description of what each test does it a nice to have.
- Also good to have a few words on each implementation

[2021-04-01 16:55] OR13 commented on #51
we should hold off on this until we feel the suite is very stable.

But we can gather snippets and examples here in the meantime

[2021-04-01 16:56] OR13 commented on #51
We should also make sure we take advantage of automated visualization, since this is free with JEST.

- https://transmute-industries.github.io/did-core/

[2021-04-01 16:57] OR13 commented on #51
Another example from the WG call:

- https://w3c.github.io/publ-tests/test_reports/manifest_processing/index.html

[2021-04-01 17:28] clehner commented on #48
[Section 4. Data Model](https://www.w3.org/TR/did-core/#data-model) implies that the DID document data model contains representation-specific entries:

But [Section 6. Representations](https://www.w3.org/TR/did-core/#representations) implies that the DID document data model is seperate from the representation-specific entries:
-  "A conforming producer MUST take a DID document data model and a rep

[2021-04-01 18:53] peacekeeper commented on #50
+1 to creating a separate suite for each major section.

[2021-04-03 22:15] msporny commented on #32
I have raised PR #52 to address this issue.

[2021-04-03 22:17] msporny commented on #48
I have raised PR #52 to restructure the test suite to make implementing the above easier. I will do that after PR #52 has been merged.

[2021-04-03 22:19] msporny commented on #49
PR #52 has been raised to do this, and I believe achieves this part of the refactoring. We could refactor more, but I want to make sure everyone is on board with the current direction in #52 before going further.

[2021-04-03 22:20] msporny commented on #50
I have raised PR #52 to do this. Please review and see if the refactoring works for everyone. It's not entirely split on section... some of the stuff was dicey, like the metadata structure... but the rest is split on section.

[2021-04-03 22:26] msporny commented on #51
I have started to try to structure the test output in a more hierarchical, logical fashion in PR #52. The general structure is: major section of the spec > implementation being tested > minor section of the spec > specific variation of implementation being tested > specific normative statement. For example:

* 3.x Identifier
  * id:key (2018 cryptosuite) - did-method-key-js - Digital Bazaar
    *

[2021-04-03 22:29] #21 closed

[2021-04-03 22:29] #22 closed

[2021-04-03 22:30] #25 closed

[2021-04-03 22:30] #29 closed

[2021-04-03 22:30] #30 closed

[2021-04-03 22:31] msporny commented on #13
This isn't an issue, it's a statement of fact. We'll leave it to @OR13 to decide if/when he merges that stuff into this test suite.

[2021-04-03 22:31] #13 closed

[2021-04-03 22:32] msporny commented on #24
This has been done, but needs refinement. The refinement is being tracked in #48, continuing there.

[2021-04-03 22:32] #24 closed

[2021-04-03 22:36] msporny commented on #33
This should be unblocked with the merge of PR #52.

The general instructions for implementers are:

* Look at packages/did-core-test-server/suites/implementations/
* Copy an example for a did, resolver, dereferencer, etc. that looks similar to what you want to do.
* Add that file to the respective test suite. For example, for DID Method Documents, add it to did-core-properties/default.js

... and

[2021-04-06 04:36] shigeya commented on #31
@msporny We don't want to close this yet.. The test (potentially) referring to DID SPEC REGISTRY is not yet complete..

[2021-04-06 07:03] peacekeeper opened #53 "Missing tests in DID Resolution and DID URL Dereferencing"
https://github.com/w3c/did-test-suite/pull/43 has been merged to address https://github.com/w3c/did-test-suite/issues/29 and https://github.com/w3c/did-test-suite/issues/30, but there are still a few TODOs in the DID Resolution and DID URL Dereferencing tests.

- [x] _All conformant DID resolvers MUST implement the DID resolution functions for at least one DID method and MUST be able to return a D

[2021-04-06 16:24] iherman commented on #26
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section7-8) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.8. Need tests for CBOR/JSON Production and Consumption

_See github issue [did-test-suite#28](https://github.com/w3c/did-test-suite/issues/28), [did-test-suite#26](https://github.

[2021-04-06 16:24] iherman commented on #28
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section7-8) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.8. Need tests for CBOR/JSON Production and Consumption

_See github issue [did-test-suite#28](https://github.com/w3c/did-test-suite/issues/28), [did-test-suite#26](https://github.

[2021-04-06 16:24] iherman commented on #32
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section7-7) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.7. need clear instructions for implementers

_See github issue [did-test-suite#33](https://github.com/w3c/did-test-suite/issues/33), [did-test-suite#32](https://github.com/w3c/did

[2021-04-06 16:24] iherman commented on #33
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section7-7) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.7. need clear instructions for implementers

_See github issue [did-test-suite#33](https://github.com/w3c/did-test-suite/issues/33), [did-test-suite#32](https://github.com/w3c/did

[2021-04-06 16:24] iherman commented on #36
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section7-6) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.6. Use of better jest matchers

_See github issue [did-test-suite#36](https://github.com/w3c/did-test-suite/issues/36)._

**Markus Sabadello:** next is about using jest matchers
…

[2021-04-06 16:24] iherman commented on #48
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section7-5) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.5. Producer tests should be of the ADM not resolution result

_See github issue [did-test-suite#48](https://github.com/w3c/did-test-suite/issues/48)._

**Markus Sabadello:** next

[2021-04-06 16:24] iherman commented on #49
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section7-4) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.4. Proposal to refactor the input json into js files

_See github issue [did-test-suite#49](https://github.com/w3c/did-test-suite/issues/49)._

**Markus Sabadello:** next is simil

[2021-04-06 16:24] iherman commented on #50
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section7-3) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.3. Proposal to create a suite per major section of the spec

_See github issue [did-test-suite#50](https://github.com/w3c/did-test-suite/issues/50)._

**Markus Sabadello:** relati

[2021-04-06 16:24] iherman commented on #51
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section7-2) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.2. How will be produce visualization of the test results

_See github issue [did-test-suite#51](https://github.com/w3c/did-test-suite/issues/51)._

**Markus Sabadello:** I'm not f

[2021-04-06 16:24] iherman commented on #53
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section7-1) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.1. Missing tests in DID Resolution and DID URL Dereferencing

_See github issue [did-test-suite#53](https://github.com/w3c/did-test-suite/issues/53)._

**Markus Sabadello:** the f

[2021-04-06 17:19] msporny commented on #31
Ok, reopened.

[2021-04-06 20:31] TallTed commented on #53
I suggest using github's checkbox feature for your action bullets.  They have proven helpful elsewhere, especially as/when time gets tighter.

[2021-04-07 14:20] clehner commented on #53
Idea: a test could require that there are some two input DID URLs and corresponding dereferencing results, such that the input DID URLs differ only by the DID fragment, and the dereferencing results are different. This would show that the DID fragment was used in the dereferencing process since it results in a different output.

Or a simpler way would be just to check that some input DID URL has a

[2021-04-08 13:10] shigeya commented on #31
Let me quote the statement again here:

From the core spec point of view, the above statement is not testable within the core tests. This spec text needs to be placed in DID-SPEC-REGISTRIES, not within core spec. I honestly have no idea whether we can treat this statement as "human testable."

From a different perspective: since the current test implementation runs the whole test against the trans

[2021-04-08 21:08] OR13 commented on #28
I am removing myself from this issue.

I think testing CBOR is a mistake and waste fo time, I have not seen evidence of any real implementation for `did+cbor`... I would prefer we drop the representation from the spec, and the tests, and that we tackle `did+dag+cbor` and `did+ld+cbor` which seem to be the actual thing people care about.

[2021-04-10 21:43] msporny commented on #28
@OR13 has not seen evidence of any real implementation for did+cbor and has withdrawn his offer to implement these tests. I agree with @OR13 that we should drop the CBOR section due to no real implementations surfacing.

If anyone would like to see the CBOR section preserved in the specification, you will have to write all the tests for it and find at least two independent implementers.

/cc @jonn

[2021-04-10 21:48] jonnycrunch commented on #28
Dude, seriously!? As I discussed on Thursday I just starting working on this.  Seems very straightforward to give a Hex representation and parse with the nodejs cbor library.

[2021-04-10 21:56] msporny commented on #28
Yes. :)

I'm not happy about it either, given the amount of time I spent working on the CBOR section to align it with the rest of the specification. I was always concerned that this was going to happen (and feel like I was fairly vocal about it... being dragged into it, kicking and screaming all the way).

I do believe did+cbor is still implementable... it's just that no one has stepped forward an

[2021-04-10 22:17] #49 closed

[2021-04-10 22:17] #50 closed

[2021-04-10 22:18] msporny commented on #32
This is done as of PR #55 being merged.

[2021-04-10 22:26] msporny opened #56 "Clean up normative statements test `it()` blocks"
We need to audit the entire test suite against the specification. In order to do so, we need to know (easily) which section certain tests come from. The easiest way to do this would be to state the exact section name right before the normative language in each `it()` block in the test:

For example, it's easy to know where this normative language came from:

To contrast, it's difficult to know whe

[2021-04-12 16:24] OR13 commented on #28
@jonnycrunch I see commenting on CBOR in DID Core as more of a risk to viable CBOR, then not commenting on it....

We should not pretend that CBOR got the same level of review, debate or even comprehension as JSON did during the WG... we rarely ever discussed it, when we did it was limited to a very small set of folks.

We are not prevented from writing a really excellent DID Document representati

[2021-04-16 20:55] msporny opened #63 "Should implementation files specify `representation` or `didDocumentStream`?"
As noted in https://github.com/w3c/did-test-suite/pull/55#pullrequestreview-633553781, there is disagreement on whether implementation files should specify `representation` or `didDocumentStream`. This issue is here to have that discussion and hopefully come to a conclusion. For now, the test suite is using `representation`.

[2021-04-17 22:17] msporny opened #64 "Should implementation files contain `representationSpecificEntries` alongside each representation?"
Should `representationSpecificEntries`  and `properties` be stored with each DID entry in implementation files, or should they be split -- with `properties` being at a higher level, and `representationSpecificEntries` going beside each representation.

@OR13 suggested that we should store `representationSpecificEntries` alongside `properties` here: https://github.com/w3c/did-test-suite/pull/55#dis

[2021-04-18 14:13] msporny commented on #31
Correct.

Yes, agreed.

It is human testable. A human can check to see if "All metadata property definitions registered in the DID Specification Registries [DID-SPEC-REGISTRIES] define the value type, including any additional formats or restrictions to that value (for example, a string formatted as a date or as a decimal integer)."

I suggest we do the second option (if we don't have to go through

[2021-04-18 14:14] msporny opened #65 "Testability of normative DID Spec Registries statement on metadata"
@shigeya wrote:

Let me quote the statement again here:

From the core spec point of view, the above statement is not testable within the core spec. This spec text needs to be placed in DID-SPEC-REGISTRIES, not within core spec. I honestly have no idea whether we can treat this statement as "human testable."

From a different perspective: since the current test implementation runs the whole test a

[2021-04-18 14:15] msporny commented on #65
Correct.

Yes, agreed.

It is human testable. A human can check to see if "All metadata property definitions registered in the DID Specification Registries [DID-SPEC-REGISTRIES] define the value type, including any additional formats or restrictions to that value (for example, a string formatted as a date or as a decimal integer)."

I suggest we do the second option (if we don't have to go through

[2021-04-18 14:15] msporny commented on #31
I believe we can raise a new issue just for the one test that @shigeya found that was human testable, and then close this issue.

Raised the issue here: https://github.com/w3c/did-test-suite/issues/65

Closing.

[2021-04-18 14:17] msporny commented on #32
PR #55 has been merged, closing.

[2021-04-18 14:17] #32 closed

[2021-04-18 14:24] #31 closed

[2021-04-18 14:26] msporny commented on #48
PR #52 was merged, which powers the tests off of the ADM instead of the representation. This is done. Closing.

[2021-04-18 14:26] #48 closed

[2021-04-18 14:54] msporny commented on #56
Ping @clehner @peacekeeper @OR13 @shigeya -- need any tests you wrote to match this format. Auditing all tests (and I expect report generation) is blocked until this is done.

[2021-04-18 16:09] clehner commented on #56
I believe the tests I added are conforming to this format, beginning with either "6.1 Production and Consumption" (#45) or "3.2.1 DID Parameters" (#34, updated by #44)

[2021-04-18 21:26] shigeya commented on #31
Yes, I should have close this and open a new one early. thanks.

[2021-04-18 22:12] shigeya commented on #65
Fully agreed.

I will review them.

[2021-04-18 22:50] shigeya commented on #56
Was missing in `it` statements, while it's prefixed with parent level `describe`. I think it's still traceable without `it` level with a run with the `--verbose` option (`npm run test -- --verbose`), but maybe easier for everybody.

[2021-04-19 14:16] OR13 commented on #64
I think the way that we structure tests biases folks towards thinking about how to implement the ADM.

Since we support multiple representations I think it's helpful to show the same did document in multiple representations and in its ADM form.

In order to avoid needless and potentially error prone duplication, I suggest the following structure:

1. ADM = (coreEntries + repEntries // names do not

[2021-04-23 14:00] BernhardFuchs opened #69 "jest-did-matcher not published"
I'm aware that this is still work in progress but I'm experimenting to integrate this test-suite to a CI process and would like to deploy it as a standalone server.

Running `npm install` or building the docker image for `did-core-test-server` (which does the same) fails with `'jest-did-matcher@^0.0.1' is not in the npm registry`.

Is there a plan to publish `jest-did-matcher` to the npm registry

[2021-04-25 21:15] shigeya commented on #69
It is intentionally not published and locally referenced. I was not aware of the issues. Will look into the issues. thanks.

[2021-04-26 04:24] shigeya commented on #69
@OR13 I want to hear your opinion. As a solution to this issue, in PR #70, I tweaked Dockerfile and docker-compose to include both packages.

I don't like to see babel to create `./dist` in the image, but I couldn't find a solution.  It may be cleaner to separately publish package, but then, we have to manage two separate repositories.

Which do you prefer?

[2021-04-26 04:39] shigeya commented on #65
When I look for the word `DID-SPEC-REGISTRIES` in `did-core-test-suite`, there are only two files with the word. That's a very small number. Also, one of the file is on metadata which I'm working on.

From the point of view of completeness of the test, and also for creation of a report, I think it is better to include human testable statements in the test suite as a `todo()` with some easy-to dist

[2021-04-26 05:21] shigeya commented on #36
I think we can close this.

[2021-04-26 05:21] #36 closed

[2021-04-26 20:31] OR13 commented on #69
@shigeya its very common to publish multiple npm packages from the same repo with lerna / yarn...

- https://github.com/transmute-industries/did-core/tree/main/packages
- https://github.com/vuejs/vue/tree/dev/packages
- https://github.com/facebook/react/tree/master/packages

However, these approaches generally assume some burden on the maintainers...

I would be happy to take `jest-did-matcher` ->

[2021-04-27 21:27] rhiaro opened #72 "Normative statements checklist: Section 3. Identifiers"
## 3.1 DID Syntax

* [x] All DIDs MUST conform to the DID Syntax ABNF Rules.

## 3.2 DID URL Syntax

* [x] All DID URLs MUST conform to the DID URL Syntax ABNF Rules.

### 3.2.1 DID Parameters

* [x] `service`: If present, the associated value MUST be an ASCII string.
* [x] `relativeRef`: If present, the associated value MUST be an ASCII string and MUST use percent-encoding for certain characters

[2021-04-27 21:27] rhiaro opened #73 "Normative statements checklist: 4. Data Model"
## 4.1 Extensibility

* [ ] For maximum interoperability, it is RECOMMENDED that extensions use the W3C DID Specification Registries mechanism [DID-SPEC-REGISTRIES].
* [ ] Representations MAY define other extensibility mechanisms, including ones that do not require the use of the DID Specification Registries. Such extension mechanisms SHOULD support lossless conversion into any other conformant re

[2021-04-27 21:28] rhiaro opened #74 "Normative statements checklist: 5. Core properties"
## 5.1 Identifiers

### 5.1.1 DID Subject

* [x] The value of `id` MUST be a string that conforms to the rules in § 3.1 DID Syntax
* [x] and MUST exist in the root map of the data model for the DID document.

### 5.1.2 DID Controller

* [x] The `controller` property is OPTIONAL.
* [x] If present, the value MUST be a string or a set of strings that conform to the rules in § 3.1 DID Syntax.
* [ ] Th

[2021-04-27 21:28] rhiaro opened #75 "Normative statements checklist: 6. Representations"
## 6.1 Production and Consumption

* [ ] A representation MUST define deterministic production and consumption rules for all data types specified in § 4. Data Model.
* [ ] A representation MUST be uniquely associated with an IANA-registered Media Type.
* [ ] A representation MUST define fragment processing rules for its Media Type that are conformant with the fragment processing rules defined in §

[2021-04-27 21:29] rhiaro opened #76 "Normative statements checklist: 7. Resolution"
* [x] All conformant DID resolvers MUST implement the DID resolution functions for at least one DID method
* [x] and MUST be able to return a DID document in at least one conformant representation.

## 7.1 DID Resolution

* [x] `did`: This input is REQUIRED and the value MUST be a conformant DID as defined in § 3.1 DID Syntax.
* [x] `resolutionOptions`: A metadata structure containing properties d

[2021-04-27 21:30] rhiaro opened #77 "Normative statements checklist: 8. Methods"
_NOTE: none of these are machine testable as they involve looking over DID method spec text, so I don't expect any to be checked off as part of the test suite, but including for completeness._

## 8.1 Method Syntax

* [ ] A DID method specification MUST define exactly one method-specific DID scheme that is identified by exactly one method name as specified by the method-name rule in § 3.1 DID Synt

[2021-04-29 12:57] shigeya commented on #69
@OR13 I see. Then, let's keep the package stay in the local repository. Then, Is PR #70 reasonable?

[2021-04-29 16:03] peacekeeper commented on #64
As the name suggests, representation-specific entries are specific to a representation and therefore in the test structure should appear under the representation (e.g. `@context` under `application/did+ld+json`).

I don't see how putting "representation-specific entries" outside of a specific representation makes any sense....

[2021-04-29 16:16] peacekeeper commented on #76
Related: https://github.com/w3c/did-test-suite/issues/53

[2021-04-29 16:16] OR13 commented on #64
@peacekeeper because production requires them to be outside... since you can't produce from a representation.

[2021-04-29 16:17] OR13 commented on #64
production is: coreEntries + repEntries  => representation

[2021-04-29 16:21] shigeya commented on #69
@BernhardFuchs We changed `jest-did-matcher` to be included as part of the docker image (see PR #70 for the changes). Would you please test and confirm it's working for you?

[2021-04-29 16:36] brentzundel opened #78 "Report generation is brittle and needs some development work"
We have need for additional developer resources to help finish the automatic generation of test implementation report.

Much work has been done:
https://github.com/w3c/did-test-suite/blob/main/packages/did-core-test-server/package.json#L11https://github.com/w3c/did-test-suite/tree/main/packages/did-core-test-server#usagehttps://github.com/w3c/did-test-suite/blob/main/packages/did-core-test-server/

[2021-04-29 17:01] aljones15 commented on #78
Have you tried a custom reporter? I've written two in Mocha and the last one has actually turned out to be pretty useful and painless to use. [Jest Custom Reporter docs](https://jestjs.io/docs/configuration) [Mocha w3c interop reporter](https://github.com/digitalbazaar/mocha-w3c-interop-reporter). The later produces the nightly reports for the vaccine credentials interoperability report.

[2021-04-29 18:11] OR13 commented on #78
@aljones15

https://transmute-industries.github.io/did-core/
https://github.com/transmute-industries/did-core/blob/main/packages/did-core-tests/jest.config.js#L6

But these don't solve the problem of an NxN breakdown where you can count feature support....

Luckily this exists:

https://github.com/digitalbazaar/vaccination-certificate-test-suite
http://vaxcert-interop-reports.s3-website.us-east-2.

[2021-04-29 18:33] peacekeeper commented on #76
Also assigning @shigeya , since I did sections 7.1 and 7.2, and he did section 7.3.

[2021-04-29 21:38] talltree commented on #77
I have reviewed all of these and agree that none of them are machine-testable. One of them (the seventh on the list) is a syntactic conformance requirement but it only applies to a method-specific-id, which we do not define in the main DID spec itself. So I believe we can close this issue.

[2021-04-29 23:27] shigeya commented on #78
@OR13 I still don't understand how I can generate a report. How can I configure `./suites/did-spec/default.json` ?

[2021-04-30 05:01] shigeya commented on #76
Since I don't have write permissio to this repository, I can't check tem, so... for `7.3 Metadata Structure`, all but following two items are done:

Following entry is RECOMMENDED so testing is not mandatory.

[2021-04-30 15:16] msporny commented on #72
I have performed a full review of the tests above. All tests with ticked checkboxes exist in the test suite. All tests that are not checked do not have active/associated tests in the test suite.

[2021-04-30 15:21] msporny commented on #73
I have reviewed all of these normative statements. There are no MUST statements and thus no requirement that these are implemented in the test suite. In addition, all of these statements are only human testable and thus shouldn't be in the test suite.

[2021-04-30 15:37] msporny commented on #74
I have performed a full review of the tests above. All tests with ticked checkboxes exist in the test suite. All tests that are not checked are not mandatory or are human-only tests and do not have active/associated tests in the test suite.

[2021-04-30 15:47] msporny commented on #28
Reminder that complete tests, including review, auditing, and at least one implementation, are due for this item by the end of this month.

[2021-04-30 15:48] msporny commented on #26
Reminder that complete tests, including review, auditing, and at least one implementation, are due for this item by the end of this month.

[2021-04-30 16:15] OR13 commented on #78
This line updates the latest json for the report in the html:

https://github.com/w3c/did-test-suite/blob/main/packages/did-core-test-server/generate-latest-respec-data.js#L10

This line loads the json from the html which is describes the latests run:

https://github.com/w3c/did-test-suite/blob/main/index.html#L869

Looks like I forgot that this PR never got merged....

https://github.com/w3c/did-

[2021-04-30 19:58] msporny commented on #33
Instructions on how to submit implementations are now here:

https://github.com/w3c/did-test-suite#adding-your-did-implementation

Closing.

[2021-04-30 19:58] #33 closed

[2021-04-30 20:02] msporny commented on #65
At this point, this isn't done, and is unlikely to be done before the cut off on Tuesday. I suggest we don't do this (or could do it later). Take a look at issue #72 - #76 -- we are just not adding marks to the checkboxes that are associated the human-readable tests during the audit.

[2021-04-30 20:26] csuwildcat opened #81 "'jest-did-matcher@^0.0.1' is not in the npm registry"
Getting this error when I try to run the tests:

[code]

[2021-04-30 21:29] shigeya commented on #65
@msporny thanks. I understand the plan.

From the consistency point of view, do you want to me to remove the human testable statements (currently marked `todo()`) from the test?

[2021-04-30 21:35] shigeya commented on #81
Need to bootstrap lerna at top level to make `did-core-test-server` to find the local package.

Please run `npm i` at top level.

I'll add a note on this at the top level README.

[2021-05-02 21:27] msporny commented on #75
I have just [implemented](https://github.com/w3c/did-test-suite/pull/83/files) and audited the JSON-specific production and consumption tests. All JSON-specific production and consumption tests with ticked checkboxes exist in the test suite; there are no human-only tests for JSON production or consumption.

[2021-05-02 21:30] msporny commented on #76
I have checked them and did an additional audit. All checked items are implemented, non-checked items are human-only tests.

[2021-05-03 07:26] BernhardFuchs commented on #69
@shigeya Thx for the quick fix. The Dockerfile works now and the image is deployable. Closing this.

[2021-05-03 07:26] #69 closed

[2021-05-03 15:26] peacekeeper commented on #53
Closing this in favor of https://github.com/w3c/did-test-suite/issues/76 where tested statements are also being tracked.

[2021-05-03 15:26] #53 closed

[2021-05-03 15:30] peacekeeper commented on #76
Update: After merging https://github.com/w3c/did-test-suite/pull/86, all statements in 7.1 and 7.2 should have tests, except MAY and SHOULD statements, as well as the following three MUST statements that we [decided](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-13-did-topic) don't need tests:

- _A conforming DID Method specification MUST guarantee that each equivalentId value is logica

[2021-05-04 16:19] iherman commented on #28
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-04-did#section3) on 2021-05-04

List of resolutions:

- ***[Resolution No. 1](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-04-did#resolution1):  remove CBOR from the DID Core Specification, publish it as a WG Note, and add CBOR to the DID Spec Registries with a reference to the WG Note***

<de

[2021-05-05 09:33] peacekeeper opened #87 "Better re-use test code between sections"
After merging https://github.com/w3c/did-test-suite/pull/86, all the statements in DID Resolution and DID URL Dereferencing will have tests, but there is still some duplication.

E.g. a test from the DID Resolution section like the one in https://github.com/w3c/did-test-suite/pull/86#pullrequestreview-651155882 should re-use test code from the Metadata Structure section (see https://github.com/w3c

[2021-05-06 13:07] msporny commented on #75
CBOR has been removed from the specification. This means that all tests that we intended to write for the Representations section have been written and audited. This issue can be closed now.

[2021-05-06 13:07] msporny commented on #76
PR #86 has been merged. Marking as pending close.

[2021-05-06 13:08] msporny commented on #28
The CBOR section has been removed from the specification. Closing.

[2021-05-06 13:08] #28 closed

[2021-05-06 13:08] msporny commented on #26
All JSON Production and Consumption tests have been implemented. Closing.

[2021-05-06 13:08] #26 closed

[2021-05-07 12:55] msporny opened #89 "Call for DID Method Implementations"
The W3C DID Working Group achieved another milestone last week; all tests for the specification are now complete.

This means that we are ready for DID Method implementers to submit their DID Method implementations for conformance testing against the specification.

The deadline for submitting DID Method implementations is in two weeks (by May 25th, 2021).

The instructions on how to submit a DID

[2021-05-07 15:16] peacekeeper opened #90 "Fix did:3 resolver implementation"
@oed you added a resolver implementation for `did:3` in https://github.com/w3c/did-test-suite/pull/57, and it was temporarily disabled in https://github.com/w3c/did-test-suite/commit/c1380272e930c174e75f2216b6ebf529ead299bb, since a number of tests are failing.

Some things to consider that are currently causing tests to fail on your implementation:

- **DID Core says in section "7. Resolution":**

[2021-05-07 15:16] peacekeeper opened #91 "Fix did:ethr resolver implementation"
@awoie you added a resolver implementation for `did:ethr` in https://github.com/w3c/did-test-suite/pull/68, and it was temporarily disabled in https://github.com/w3c/did-test-suite/commit/c1380272e930c174e75f2216b6ebf529ead299bb, since a number of tests are failing.

Some things to consider that are currently causing tests to fail on your implementation:

- **DID Core says in section "7. Resolutio

[2021-05-08 05:58] oed commented on #90
Thanks @peacekeeper will update these. Any pointers to how the tests changed? Since these tests were passing before.

[2021-05-10 07:54] peacekeeper commented on #90
@oed The test suite was simply not complete yet at the time you submitted your report.

[2021-05-11 08:06] Diiaablo95 opened #99 "Test suite failing?"
I don't know if it's just a problem I have, but I tried cloning the repo, installing the dependencies, and running the test suite that comes with the repo, and the tests are failing.

The error is the following:

[code]

which happens with each DID method in the Core Properties test suite. I am running `npm run test` from within `did-core-test-server` as instructed in the test README.

Is there an

[2021-05-11 16:54] shigeya commented on #78
@OR13
I want to create a PR based on the closed PR #20 you mentioned above.

Now, I found GitHub doesn't allow me to fetch commits from a closed PR branch.
Would you please kindly reopen PR #20 for this purpose?
Or, if there is an alternative way to receive the commits in PR #20 without reopening it, that's fine for me too.

[2021-05-12 14:42] OR13 commented on #78
hmm I can't seem to reopen it.

[2021-05-12 15:22] shigeya commented on #78
hmmm. then, can you send the branch to [my repository](https://github.com/shigeya/did-test-suite) as a new PR?

[2021-05-12 16:27] OR13 commented on #78
I can open a PR, bug it won't be mergeable.

The PR in question is so old that the content will need to be reimplemented.

Does this help: https://github.com/w3c/did-test-suite/pull/103/files ?

[2021-05-12 16:28] OR13 commented on #78
My git commits are not super clean, low chance you can cherry pick them...I don't care about attribution to me at all, feel free to copy the content that is needed.

[2021-05-12 20:26] shigeya commented on #78
I understand that.

Yes. I could fetch files locally. Thanks.

Thank you.

[2021-05-13 14:57] BernhardFuchs opened #104 "State of the test server"
We would like to run the testsuite as a hosted service at some point. The docker image is running and according to the docs should be callable with this curl:
[code]

These `default.json` files got replaced by `.js` files with PR https://github.com/w3c/did-test-suite/pull/52 and replacing them with e.g. `-d @./suites/did-resolution/default.js` returns following error:
[code]

We also tried it with

[2021-05-13 15:15] aljones15 commented on #78
support for the interoperability matrices in that vaccine credentials report is in that w3c-interop-reporter.

This is the template for the matrix reports:

https://github.com/digitalbazaar/vaccination-certificate-test-suite/blob/main/matrix.hbs

The usage section of the readme should explain how to add the data so it shows up in the report:

https://github.com/digitalbazaar/mocha-w3c-interop-repo

[2021-05-13 17:00] OR13 commented on #104
This issue seem to be blocking a significant PR and should be addessed ASAP.

from what I can tell, there is stale JSON in the repo that needs to be updated to reflect the current JSON model assumed by the suites.

I suggest starting from a small example that passes, and adding json one by one....

We might also dump the JSON that is currently passing to disk and use it as input to resolve this.

[2021-05-13 17:10] BernhardFuchs commented on #104
Sorry for the confusion but this issue is not blocking https://github.com/w3c/did-test-suite/pull/96.
The implementation files can be merged and the testsuite can be run locally.

For us the next step would be to host the testserver somewhere (maybe at the Universal Resolver cluster), so we have an endpoint against we can run the files/inputs from above and save the time of going through a PR and

[2021-05-13 17:13] OR13 commented on #104
@BernhardFuchs awesome, thats certainly possible to do, or should be... my guess is the summary i gave is still acccurate, the json in the repo is stale, and needs to be cleaned up.... and we probably should publish a docker container that can make testing easier for everyone.

[2021-05-14 19:00] #90 closed

[2021-05-16 07:45] shigeya commented on #78
I think PR #105 (currently in Draft) now has enough code to create a matrix.

Question is, how we want to aggregate into a matrix.

Also, we may want a section with an aggregated result that has a table on numbers related to the CR-exit condition.

[2021-05-17 10:02] caict-develop-zhangbo commented on #99
I have the same problem. Is there any solution now？

[2021-05-17 10:02] caict-develop-zhangbo commented on #104
I have the same problem. Is there any solution now？

[2021-05-17 11:04] caict-develop-zhangbo opened #107 "Test error"
When I run the test as the example, i found the problem as issue#104,then I repleace the default.json to defaule.js and run it locally, but I  have encountered the following errors：

(node:5461) UnhandledPromiseRejectionWarning: TypeError: suites.map is not a function
    at runAll (/root/did-test-suite/packages/did-core-test-server/services/getReportResults.js:28:14)
    at capture (/root/did-tes

[2021-05-17 17:52] BernhardFuchs commented on #104
@caict-develop-zhangbo Currently I'm working on this but will take a few more days. Once I have a draft, I will open a PR and mention it in this issue.

[2021-05-18 06:23] caict-develop-zhangbo commented on #104
Looking forward to your PR. And by the way, I found " require('../implementations/universal-resolver-did-factom.json')" in suites/did-resolution/default.js ,but there is  not universal-resolver-did-factom.json in dir /suites/implementations/. Is there any problem?

[2021-05-18 10:14] #107 closed

[2021-05-18 11:28] shigeya opened #111 "Jest CLI test is failing -- possibly resolver test code issue"
Running jest (`npm run test`) on the current head of the `main` branch produces a lot of errors.

While there is at least a minor issue in PR #96 (one file is missing), currently,
- all of the implementation JSON files are from the PR#96
- all of the resolving tests are failing

There might be some issue with the resolver testing code.
@peacekeeper Since you're the implementer of the test code, wo

[2021-05-18 15:18] shigeya commented on #78
Now, PR #105 is ready. Please review.

[2021-05-18 22:03] shigeya commented on #104
I overlooked the issue. This is the error caused by the missing file which @caict-develop-zhangbo mentioned.
Adding the file will fix the above-mentioned exception.

@BernhardFuchs Please kindly add the file. thanks.

``
 ● Test suite failed to run

    Cannot find module '../implementations/universal-resolver-did-factom.json' from 'suites/did-resolution/default.js'

    Require stack:
      suite

[2021-05-19 12:49] MajdT51 commented on #99
I have the same problem
![image](https://user-images.githubusercontent.com/50261972/118815251-546bb880-b8b1-11eb-9cf4-75f939640254.png)

[2021-05-19 15:42] sondreb commented on #99
Based on the errors, I think you have not fully installed the dependencies with lerna.

Make sure you go to root folder, edit the package.json by removing the "--since origin/master" from the "install:ci" script.

Then run

[code]

Please notice that this is custom script, "install:ci". It is not enough to simply run "npm install".

You should be able to run the test suite from root of repo, and i

[2021-05-19 15:49] Diiaablo95 commented on #99
@sondreb by following those very same instructions, the problem still persists (just tried again). My suspicion is that it depends on some local version of some tools/packages I have, but I cannot figure out what. It seems to be that the `require` syntax is working for all the other documents (i.e., they can be imported as objects) but the `./did-core-properties` one, no idea why, as it produces a

[2021-05-19 18:52] fqutishat opened #112 "didMetadataStructureTest_r is not defined"
[code]

https://github.com/w3c/did-test-suite/blob/333b1220483d31d723004a036e1c74e0243d1aac/packages/did-core-test-server/suites/did-core-properties/did-metadata-structure.js#L26

[2021-05-19 19:10] fqutishat commented on #112
I think there is typo in method name should be didMetadataStructureTests

[2021-05-20 09:29] shigeya commented on #112
@fqutishat Thank you very much for spotting this. This code path is not used unless you run with a property with an object as a value.

 If you need to run the test, please rename

`didMetadataStructureTest_r`

to

`didMetadataStructureTest_Map_Recursive`

Then, it should work.

I will create PR for the repository.

[2021-05-20 09:44] BernhardFuchs commented on #111
Sorry for breaking the imports by referencing a not existing file. Actually the `did:factom` method is not working atm and should not be included in the `default.js` file. So the quick fix for everybody is to remove this line.
We did some changes the process of creating the files/imports for the testsuite which should fix and avoid those kind of issues.

There are also some changes to the Universa

[2021-05-20 09:49] BernhardFuchs commented on #104
@shigeya @caict-develop-zhangbo The issue created by shigeya https://github.com/w3c/did-test-suite/issues/111 is the correct one to discuss the missing `did:factom` file.
This issue here, is about the testserver which can be run to host the testsuite. Will continue with that implementation, once the problems with the manually submitted files are solved.

[2021-05-20 12:43] BernhardFuchs commented on #111
I've opened https://github.com/w3c/did-test-suite/pull/114 which should fix most issues.
There are still ~15 tests failing with 4 of them related to the Universal Resolver and one of its drivers https://github.com/decentralized-identity/uni-resolver-driver-did-ccp/issues/5

[2021-05-20 12:59] BernhardFuchs commented on #111
After disabling `resolver-ethr-consensys-mesh.json` (which is alos the case on main), the failing tests are down to 7 across the whole test-suite with #114

[2021-05-20 13:44] fqutishat opened #115 "npm run generate-report not working"
internal/modules/cjs/loader.js:883
  throw err;
  ^

Error: Cannot find module './suites/did-spec/default.json'

[2021-05-20 13:57] #115 closed

[2021-05-20 14:05] msporny commented on #99
@Diiaablo95 I'm unable to reproduce the errors, I will try again this weekend with your branch to see if there are any errors.

[2021-05-20 15:49] fqutishat opened #116 "universal-resolver-did-ccp not passing test"
[code]

[2021-05-20 15:50] fqutishat commented on #116
@BernhardFuchs

[2021-05-20 16:08] BernhardFuchs commented on #116
We are aware of this https://github.com/decentralized-identity/uni-resolver-driver-did-ccp/issues/5

[2021-05-20 23:53] shigeya commented on #112
@fqutishat The current head of the main branch merged the fix. please try.

@msporny Please mark this issue as pending close.

[2021-05-21 01:15] msporny commented on #112
We only need to do that on DID Core... we can close issues on the test suite as they're confirmed. All we need is @fqutishat to say you fixed his issue and we can close.

[2021-05-21 06:12] fqutishat commented on #112
@msporny @shigeya I have this error now
[code]

[2021-05-21 06:39] shigeya commented on #112
@fqutishat Ah, right. I see. I need to find a workaround...

Would you please provide the implementation JSON data you have? via gist.github.com or other ways? then I can fix the problem.

[2021-05-21 08:55] BernhardFuchs commented on #99
@Diiaablo95 For me the [Dockerfile](https://github.com/w3c/did-test-suite/blob/262f6dc7fd001e6f16f56cdb84e6153bab8eeeed/Dockerfile#L20) was a good reference.
After running `lerna bootstrap` and `lerna run build` I had no issues.

[2021-05-21 09:58] Diiaablo95 commented on #99
@BernhardFuchs it is getting more and more weird. I seem to be having the same issue, no matter what. It is just weird that `require('./did-core-properties')` returns an empty object `{}` instead of the content of the file.

[2021-05-21 11:46] troyronda commented on #112
@shigeya Please see PR #117

[2021-05-21 11:51] MajdT51 commented on #99
update: I have also the exact same problem if I just run the tests from the main branch

[2021-05-21 12:57] shigeya commented on #112
@troyronda @fqutishat thanks. Will fix it tomorrow Japanese time.

[2021-05-21 15:25] fqutishat opened #118 "BLS12381_G2 unsupported from did test suite"
Test case
[code]

error
[code]

[2021-05-21 18:09] csuwildcat opened #119 "Test server's generate-test won't run"
I have double checked I installed everything (installed lerna globally, and executed `npm i` at the root), but still fails with the following error:

[code]

[2021-05-21 18:25] OR13 commented on #119
I think you may need to pull latest, I think this issue has been fixed in subsequent PRs

[2021-05-21 21:55] csuwildcat commented on #119
@OR13 I believe I just did a full reset to start from the very latest code from the main repo as of this morning, but I will double check to make sure.

[2021-05-21 21:58] csuwildcat commented on #119
@OR13 you were right, I was a bit stale - sorry for the spurious report!

[2021-05-21 21:58] #119 closed

[2021-05-21 22:08] csuwildcat opened #121 "Valid id property value throws in test runs"
In ION we use relative refs for `id` property values (for example: `#key-0`) in Verification Method entries and Relationship prop arrays, but the test runner is throwing on those values. I was under the impression these are valid values, so I think there may be an issue with that test.

[2021-05-21 22:16] OR13 commented on #121
Here is an example from element of the same expectation...

[code]

[2021-05-22 10:05] shigeya commented on #112
@troyronda @fqutishat PR #122 addressed the above issue.

[2021-05-22 11:27] shigeya commented on #121
Addressed this issue in PR #120. It only allowed absolute DID URL.

[2021-05-24 16:37] OR13 commented on #121
@csuwildcat would appear your issue has been resolved, when you update your PR, lmk if I can close this.

[2021-05-24 20:09] fqutishat commented on #112
@shigeya thank you for your fix but now I have new error
[code]

[2021-05-24 20:23] shigeya commented on #112
@fqutishat That's odd. Did you ran `lerna run prepare` at the top level?

[2021-05-25 00:31] kdenhartog opened #129 "How should a byte steam be encoded into JSON for a dereferenced Did URL that points to an external resource outside the DID Document?"
Currently the only examples in the test suite for the `executions.output.contentStream` property in the dereferencer data model input is stringified JSON. How should we encode a different media type such as image/jpeg into the result?

[2021-05-25 06:22] fqutishat commented on #112
@shigeya yes it works now after run ```lerna run prepare``` at the top level. I will close the issue.

[2021-05-25 06:22] #112 closed

[2021-05-25 21:54] shigeya opened #132 "Consistency on implementation JSON's properties needed for report generation"
For report generating purposes, we need to have at least:

- didMethod
- implementation
- implementer

Some of the JSON lacks `didMethod`.

A few thoughts.

1. I can update them by myself (I mean, not asking implementers to update), but we need to document this somewhere to avoid editing by ourselves.
2. We probably need both descriptive texts for `implementer` and the submitter's contact, maybe G

[2021-05-25 22:26] OR13 commented on #132
I suggest we solve this by injecting defaults when they are not present.

[2021-05-25 22:37] peacekeeper commented on #132
For the Universal Resolver reports, we always just use the string "Universal Resolver" as the "implementation" field (e.g. see [here](https://github.com/w3c/did-test-suite/blob/main/packages/did-core-test-server/suites/implementations/universal-resolver-did-lit.json#L2)).

@BernhardFuchs maybe we should update our Universal Resolver reports to also include the DID method name in the "implementatio

[2021-05-25 22:46] shigeya commented on #132
@peacekeeper  I will probably add didMethod to appear in the report, so adding that text in implementation part causes duplicates (while it's fine..)

[2021-05-26 10:06] BernhardFuchs commented on #132
@shigeya We could easily add the property `didMethod` to the reports. My approach would be to parse it from the identifier.

Question is in which format the value should be:
- `did:btcr` or
- `btcr`

or any other idea?

[2021-05-26 10:57] BernhardFuchs commented on #104
We have deployed a public instance of the did-test-suite to https://did-test-suite.uniresolver.io which is already used in the CI pipeline of the Universal Resolver. See https://github.com/decentralized-identity/universal-resolver/pull/203

The original problem of this issue was solved by using the correct body for did-resolution:
[code]

[2021-05-26 10:57] #104 closed

[2021-05-26 14:46] BernhardFuchs commented on #132
@shigeya `didMethod` parameter is added https://github.com/w3c/did-test-suite/pull/134

[2021-05-26 16:09] BernhardFuchs opened #135 "Hosting of did-test-suite"
Currently we are hosting a publicly available instance of the did-test-suite on our (Danubetech) infrastructure https://did-test-suite.uniresolver.io
This is already used for a nightly run by the Universal Resolver.

The docker image is on our internal registry for now.

We would like to maintain a public available instance like the Universal Resolver.
To do so there are two questions open for us:

[2021-05-27 03:56] shigeya opened #136 "Scanning of implementation directory and suites selection"
Just as an aside: @OR13 @shigeya @peacekeeper -- we really should make the `default.js` files scan the implementations directory and pull in files that contain certain content instead of having people list them by hand in `default.js` -- the majority of our merge conflicts are because of the `default.js` files. We probably shouldn't do the change now 'cause of all the PRs coming in... but perhaps

[2021-05-27 04:41] shigeya opened #137 "Top level index.html is gone"
Merging the PR #120 removing top level `index.html` file and test data JSON file.

For reporting purposes, the report generator relies on the index.html as a template.

If the removal of the file at the top level is an accident, I will add it with the latest result.

If the removal is intentional, I will create a template file, and also will commit the latest test result (for reporting purposes, n

[2021-05-28 14:58] msporny commented on #137
Yes, please do this -- add a template file.

[2021-05-28 15:10] shigeya commented on #137
I read this after commenting on the other issue.

Then, where is the file generated, and the name of the file? index.html at the root of the repository is ok?

[2021-05-28 21:51] shigeya commented on #137
Understood the situation and addressed it in PR #138. closing.

[2021-05-28 21:51] #137 closed

[2021-05-31 09:46] BernhardFuchs opened #142 "Type error on endpoint"
When running the did-test-suite server from main, the `/test-suite-manager/generate-report` throws an error about wrong type if provided, with a now correct, object.

[2021-05-31 17:45] OR13 opened #146 "Generate report with github pages"
In order to automatically deploy the latest report results the following would need to happen:

1. CI is passing, and JSON output files are autoamtically generateted on every merge to main.
2. JSON output files are injected into index.html / respec sections
3. GitHub Pages hosting is set to "gh-pages branch"
4. GitHub Pages deploy is handled via CI

[2021-05-31 20:56] msporny commented on #129
At present, the test suite isn't designed to do this and probably won't get that functionality by the time CR ends.

If someone needs this functionality, they will have to come up with a PR to support it. @peacekeeper might have done more thinking on this since that's his part of the test suite.

[2021-05-31 22:29] shigeya commented on #146
@OR13 With discussion with @msporny

A few things changed while I'm working on the report generation. Since we have 3000+ test results, and the report generation is slow, we don't commit the test result JSON object anymore, also statically generate the report.

1. index.html is removed, the report is currently generated at `packages/did-core-test-suite/report/index.html`
2. We're not injecting JSO

[2021-06-01 07:04] kdenhartog commented on #99
I was able to fix once I updated to Node 14.16.1 and ran `lerna bootstrap` and `lerna run build`

[2021-06-01 14:48] OR13 commented on #136
yes! here is an example:  https://github.com/w3c-ccg/vc-http-api/blob/main/packages/vc-http-api-test-server/__fixtures__/verifiableCredentials/index.js

[2021-06-01 14:54] msporny commented on #136
OR, we could detect the type of implementation file it is... there are really only two: DID Methods and Resolvers

[2021-06-01 14:55] OR13 commented on #136
Imo, we ought to detect the type, and automatically build the collection from files in folders... least friction for developers.

[2021-06-02 09:44] shigeya opened #151 "Is it possible to change width of the report?"
I'm working on the final adjustment of the report, including what to be on the table, links between tables, etc.

Now, I realize that... I'm using a 16x9 display but I'm not making use of the rich widescreen real estate.

The current style parameter on page width for the W3C docs is 50em. This design comes from [base.css](https://www.w3.org/StyleSheets/TR/2016/base.css).

Since the report has tabl

[2021-06-02 15:00] msporny opened #152 "Test Suite reporting broken with removal of Examples implementation"
@shigeya, I think a recent modification that you made to the test suite has broken the test suite reporting.

Namely, you removed the Example implementation. We cannot do that. The example implementation is the only implementation that exercises some of the feature tests (like JSON production for integers). If a test is not exercised, it does not show up in the reports and therefore does not show

[2021-06-02 15:35] shigeya commented on #152
Reverted in PR  #153.  This was the first commit in the last PR and I forget to discuss this. My aplogies.

[2021-06-02 15:37] msporny commented on #152
No problem @shigeya -- thank you for all of your hard work. I love the new "implementations by feature" summary!

[2021-06-02 15:38] msporny commented on #152
I have now confirmed that everything is working again, closing.

[2021-06-02 15:38] #152 closed

[2021-06-03 07:43] Diiaablo95 commented on #99
Ok thanks @kdenhartog, I can confirm that with Node 14(.17.0) the tests are now passing without failing. I was previously running them with Node 12. Perhaps this could be specified somewhere in the README file.

[2021-06-03 12:48] #142 closed

[2021-06-03 12:54] msporny opened #157 "Every commit now results in a CI failure"
@OR13 every new commit results in a CI failure now. This is due to the "Include Breaking" CI flow you added. Everyone watching this repo's inbox is going to be spammed with these messages, which are not helpful. Do you have any suggestions on how to fix this?

https://github.com/w3c/did-test-suite/actions

I agree that having clean output when running one's implementation is very helpful, so we wa

[2021-06-03 13:28] OR13 commented on #157
@msporny 2 options:

1. stop testing fixtures that break
2. remove all fixtures that break

I am happy to do a PR that does either.

It felt wrong to do either in a PR where new stuff was added.

[2021-06-03 13:43] msporny commented on #157
Both of those are not good options. One of the goals of a W3C implementation test suite is to see what implementation reality is. Knowing that 30% of the implementations are willfully not conforming to a specific statement in the specification is useful. Those sorts of things sometimes result in specifications being updated to modify or eliminate the normative statement. So, we need to include all

[2021-06-03 13:55] OR13 commented on #157
@msporny agreed,

1. We need the report generation wired into CI
2. We make the report operate on all fixtures
3. We set the "include broken" status to passing, even when it fails

Its dangerous to turn off those failures, if they are not automatically reflected in a report that is kept up to date... but once the report is automated, I don't see a reason to let CI fail.

[2021-06-03 13:56] OR13 commented on #157
@msporny would you like me to do a PR to automate the report? See https://github.com/w3c/did-test-suite/issues/146

[2021-06-03 14:05] msporny commented on #157
Yes, please and thank you.

My preference is to use CI to publish the report to the gh-pages branch and use Github pages to expose that on the web, and keep the main branch free of auto-generated files. Ideally we wouldn't be checking anything auto-generated into Github (and instead publish on an AWS bucket exposed to the web with a w3id.org redirect or something (what we do for the vaxcert test s

[2021-06-03 14:08] msporny commented on #157
Hmm... I wonder if there is a way for us to use ECHIDNA to auto-build/publish the DID Core test suite reports? @iherman -- thoughts?

My guess is probably not... and that ECHIDNA is focused on publishing ReSpec documents... not test suites.

[2021-06-03 14:08] OR13 commented on #157
@msporny yes, I like to keep all build / generated assets out of main, I don't have permissions to set the github pages branch though. I can doo everything but that last step.

[2021-06-03 14:10] OR13 commented on #157
regarding ECHIDNA, I tested this previously, and it fails t include anything other that the html files... so you need to build / inject them to get it to work... which does not work in, you must modify the index.html before pushing IIRC.. (which is wrong approach IMO).

[2021-06-03 14:12] OR13 commented on #157
I suspect there might be a way to make ECHIDNA work `gh-pages` and automated report building.

[2021-06-03 16:49] iherman commented on #157
Echidna is focused publishing documents onto /TR space... so I don't think that is an option.

[2021-06-03 17:06] msporny commented on #157
NOTEs are published to /TR space and some implementation reports have been published to /TR in the past:

https://www.w3.org/TR/2013/NOTE-prov-implementations-20130430/
https://www.w3.org/TR/2012/NOTE-rdb2rdf-implementations-20120814/

Granted... those links are from almost a decade ago... and were the only two I could find... so the argument is shaky at best. :)

We don't have to publish using EC

[2021-06-03 17:55] OR13 commented on #157
@msporny @iherman PR is up, but is blocked by GitHub Configuration: https://github.com/w3c/did-test-suite/pull/158

[2021-06-03 19:44] msporny commented on #157
Merged #158 ... the only thing remaining is for @iherman to setup the Github configuration... @OR13, does @iherman need to include a GITHUB_TOKEN in the secrets for this repo?

[2021-06-04 07:14] iherman commented on #157
Indeed (and, incidentally, I was staff contact for both of those cases:-) but that was indeed ages ago, when github was not yet an integral part of the W3C publishing process. AFAIK, these days implementation reports are just kept in github, which also gives more flexibility once the WG is closed.

_**If**_ we want to go down the ECHIDNA route anyway, here are the admin hooplas to follow

1. The W

[2021-06-04 12:44] msporny commented on #157
The only benefit would be to use the ECHIDNA "auto-publish on commit" machinery instead of having to have @OR13 re-invent it for just this repo. But... he's already done it, so it's a no-op.

It doesn't look like ECHIDNA is a good fit here, happy to drop that option on the floor as we already have something that's working.

[2021-06-05 01:37] kdenhartog commented on #99
@Diiaablo95 the packages.json should trigger a warning if something below Node 14 is used once PR #160 is merged

[2021-06-06 00:08] kdenhartog commented on #99
This has been addressed now and is merged. Closing this issue.

[2021-06-06 00:08] #99 closed

[2021-06-06 00:11] kdenhartog commented on #129
The proposed method I've been working towards is converting the data to a data URI. So for a image/jpeg it will be data:image/jpeg;base64,<base64encodedImage>

Does that work for others?

[2021-06-06 06:31] jandrieu commented on #129
@kdenhartog I am not sure I understand the question.

But, I may have been working on similar solutions.

Are you wondering how to embed arbitrary data in a JSON object?

Or do you want to put arbitrary data in your DID Document, such that said data gets returned when the right DID-URL is dereferenced?

You could put the data in a data: URL and put that data:URL as a service endpoint, but I wouldn

[2021-06-06 10:42] kdenhartog commented on #129
Currently the way that we have to provide the input and outputs for our test results have to be encoded into A JSON object for dereferencing. As an example `did:web:kyledenhartog.com?service=dogPicService&relativeRef=JwIZJYD.gif` should map to https://i.imgur.com/JwIZJYD.gif which results in a stream of bytes. In order to encode that into `executions.output.contentStream` we need some way to encod

[2021-06-06 18:19] msporny commented on #129
Yes, this works @kdenhartog -- and given that no one else has proposed something, and that what you're suggesting should work *for the purposes of the test suite*, we're good.

[2021-06-06 19:02] #72 closed

[2021-06-06 19:02] #73 closed

[2021-06-06 19:02] #74 closed

[2021-06-06 19:02] #75 closed

[2021-06-06 19:02] #76 closed

[2021-06-06 19:02] #77 closed

[2021-06-06 19:03] msporny commented on #51
This has been implemented by @shigeya, closing.

[2021-06-06 19:03] #51 closed

[2021-06-06 19:03] msporny commented on #56
This has been cleaned up, we have good clean test output now.

[2021-06-06 19:03] #56 closed

[2021-06-06 19:04] msporny commented on #63
We have lots of implementations now and they're not complaining about the field. We're not going to change it at this point. Closing.

[2021-06-06 19:04] #63 closed

[2021-06-06 19:05] msporny commented on #64
We have lots of implementations now, people don't seem to be concerned about the current structure, closing.

[2021-06-06 19:05] #64 closed

[2021-06-06 19:06] msporny commented on #65
Yes, at this point we should just remove all .todo() statements from the test suite. I don't think they're being used by anyone.

[2021-06-06 19:06] msporny commented on #78
Thanks to @shigeya , report generation works really well now. Closing.

[2021-06-06 19:06] #78 closed

[2021-06-06 19:08] msporny commented on #89
We have 18 implementations submitted to the DID Test Suite so far. Great job to those that have submitted implementations. We are still gathering implementations until DID Resolution and DID Dereferencing are fully implemented. We are seeking implementations for the `service` and `relativeRef` DID Parameters. We will be keeping the implementation window open until at least July 13th 2021. Please s

[2021-06-06 19:08] msporny commented on #81
This works, closing.

[2021-06-06 19:09] #81 closed

[2021-06-06 19:09] msporny commented on #91
ping @awoie - update on this?

[2021-06-06 19:10] msporny commented on #111
This has now been fixed, we put broken implementations in their own grouping (but do run these when generating the final report).

[2021-06-06 19:10] #111 closed

[2021-06-06 19:11] msporny commented on #116
This has been fixed, closing.

[2021-06-06 19:11] #116 closed

[2021-06-06 19:13] msporny commented on #121
This is resolved, closing.

[2021-06-06 19:13] #121 closed

[2021-06-06 19:16] msporny commented on #135
I guess my first question would be: Do we need this anymore?

Given that we're getting ready to auto-generate the reports on a per-PR basis and publish via Github Pages... we don't need the server anymore, do we?

[2021-06-06 21:47] jandrieu commented on #129
So, this is something I've been doing a lot of work with recently. My opinion is that data: urls are insufficient for a number of reasons, BUT they can work in many instances. The problem is that data:urls only provide a media-type for content description. It doesn't provide for alternative encodings, compression, or encryption. See the Learning and Employment Record for an approach that embeds ar

[2021-06-06 22:05] shigeya commented on #65
@msporny Created a PR for 7.3. Found that the following in is still a todo in `did-url-dereferencing.js`:

[code]

[2021-06-07 09:36] awoie commented on #91
Thanks for the reminder, I'll fix this week.

[2021-06-07 09:42] BernhardFuchs commented on #135
Not sure if we are talking about the same thing here.
The purpose of the testserver is to have an endpoint which can be integrated to e.g. a CI process. Actually it is already used with the Universal Resolver https://github.com/decentralized-identity/universal-resolver/tree/main/ci/run-did-test-suite

Looking forward to more automation of the PR process.

[2021-06-07 10:08] kdenhartog commented on #129
My intent was to add one to show the usage of `service=dogPicService&relativeRef=JwIZJYD.gif` parameters since they were at risk. That's the main use case for why those parameters would be used in my mind. I'm sure there's plenty of other ones though.

[2021-06-07 10:18] kdenhartog commented on #129
A DID URL that behaves like a PURL.

Certainly, but it requires a DID enabled browser which we don't currently have.

Agreed. Only reason I'm having to produce a non-abstract solution is because _something_ needs to go in the executions.output.contentStream and to date we've only had JSON objects. Surely a DID URL can point to something other than a JSON object right?

Yeah I do think we're quite

[2021-06-07 17:14] jandrieu commented on #129
@kdenhartog wrote

To be clear, it only needs an http request library, which are available in just about every language on every platform. You don't need a full browser.

[2021-06-08 01:37] kdenhartog commented on #129
While that's true http libraries are really all that is needed, we also don't support DID URLs at the moment either. Hence the need to find a way to transform a DID URL to a HTTP URL when fetching an external resource not contained within the DID Document so that we can glue the two concepts together.

[2021-06-08 15:52] TallTed commented on #151
@iherman @msporny @burnburn @brentzundel -- This seems important to answer soon, given timing on CRs, and need for implementation reports for next transition request.

[2021-06-08 16:08] iherman commented on #151
The implementation report is not an official /TR document. As a consequence, I do not see any problem modifying the style if that makes the document more readable.

[2021-06-08 16:47] peacekeeper commented on #129
@kdenhartog few comments..

 1. If all we want to do is remove the **at-risk** markers for `service` and `relativeRef`, then I think we don't need to actually test dereferencing DID URLs that have these parameters. It should be sufficient to submit a test report for the [did-identifier](https://github.com/w3c/did-test-suite/tree/main/packages/did-core-test-server/suites/did-identifier) test suite,

[2021-06-09 01:59] kdenhartog commented on #129
Was happy to convert to to hex, but prefer your proposal in number 5 instead. Will go with that.

I actually way prefer this methodology. Will go in this direction instead and implement the test to behave in that way as well.

+1 agreed

[2021-06-09 07:33] kdenhartog commented on #129
@peacekeeper in order to comply with `› PARAMETER expected outcome: defaultOutcome › contentMetadata › If the contentStream is a DID document, this MUST be a didDocumentMetadata structure as described in DID Resolution. › encountered a declaration exception`

I had to modify the output to be:

[code]

Does that work for you? My implementation is passing all the tests now with this change.

[2021-06-10 00:14] shigeya commented on #151
@iherman Thank you.

I think we can close this issue now.

Any suggestions to the table format (what to appear in the table, etc.) are welcome.

[2021-06-14 10:20] awoie commented on #91
Working on it today and should be fixed soon.

[2021-06-15 14:56] peacekeeper commented on #129
@kdenhartog yes I like this!

[2021-06-18 14:05] #91 closed

[2021-06-18 14:58] msporny commented on #157
This has been resolved, closing.

[2021-06-18 14:58] #157 closed

[2021-06-18 14:59] msporny opened #170 "TypeError: Cannot read property 'ancestorTitles' of undefined"
The latest builds are failing for some reason... looks like missing code and/or directories?

https://github.com/w3c/did-test-suite/runs/2859446148?check_suite_focus=true

Note: I've been getting sporadic errors from Github Actions today across a variety of unrelated projects. It might be that they're dealing with some new software release issues.

[2021-06-18 15:14] OR13 commented on #170
[code]

[2021-06-18 15:15] OR13 commented on #170
Look like change set was merged that broke assumptions about file pathing.

[2021-06-18 15:15] msporny commented on #170
Ignore this issue -- the issue was invalid JSON. For whatever reason, when I ran the entire test suite locally, the files parsed just fine. However, when uploaded to CI, the invalid JSON caused the test suite to barf. No idea why it was working locally but not remotely. In any case, CI found this anomaly and I'm fixing it now.

[2021-06-18 15:16] #170 closed

[2021-06-18 15:17] OR13 commented on #170
yes, I have noticed problems with JSON.parse failing on invalid JSON.

its surprising it does not fail to parse valid JSON-LD... @peacekeeper  :trolling:

[2021-06-18 15:22] msporny commented on #146
This is done, I think.

@iherman, can you please switch this repository over to serve Github pages from the gh-pages branch?

[2021-06-18 16:31] iherman commented on #146
Done, @msporny

[2021-06-18 16:40] msporny commented on #146
Confirmed, we are now auto-generating the latest test report and publishing to gh-pages: https://w3c.github.io/did-test-suite/

woo! Thanks to everyone in this issue that made it happen.

[2021-06-18 16:40] #146 closed

[2021-06-30 09:31] shigeya commented on #151
Implemented with PR #175. Closing this issue.

[2021-06-30 09:31] #151 closed

[2021-07-08 14:34] BernhardFuchs opened #182 "Different test results for test-suite server"
When we run the docker image and send a request to `/test-suite-manager/generate-report` endpoint we get different results than running the testsuite locally with `npm run test`.

E.g `did-bba` does not throw any error in a local run but has quiet some failed testcases when run against the testsuite server https://github.com/decentralized-identity/universal-resolver/blob/6c030b5510ce0fff4a76abb42c

[2021-07-23 22:28] brentzundel opened #194 "Symbols are confusing"
In the implementation report, all normative statements are shown to be passing with green check marks except for [specification statement 3.2.2](https://w3c.github.io/did-test-suite/#T8) which has yellow triangles, but no mention is made in the document what this means.

It is clear that green check marks are good, and red x's are bad, but what does the yellow triangle mean? Is specification state

[2021-07-24 14:16] msporny commented on #194
I believe that is a feature that @shigeya added... and I don't know what it means. :)

[2021-07-24 23:05] shigeya commented on #194
The mark only appears when the test case is `todo`.

For the `3.2.2`, this line is the cause:

https://github.com/w3c/did-test-suite/blob/29b5c783ca07696acd308e410bbe1837179cbe3c/packages/did-core-test-server/suites/did-url-dereferencing/did-url-dereferencing.js#L17

As with other non-testable statements, we can safely remove this line.

It's the only test line with `todo` in the entire test code

[2021-07-25 14:02] msporny commented on #194
Ah, I see. We shouldn't have "TODO" at this point, we can safely remove that todo.

[2021-07-26 16:06] brentzundel commented on #194
Raised PR #196 to address this.

[2021-07-26 18:08] peacekeeper commented on #194
Hmm is this really untestable..?

[2021-07-27 19:52] brentzundel commented on #194
For now, I think the best thing to do is remove the `todo` line, because it results in some confusion in the implementation report.

Then someone can write a test for it, if they determine that the statement is in fact testable.

[2021-07-27 22:35] OR13 opened #197 "Can we smartly link from the test suite to the registry?"
investigate... https://github.com/w3c/did-spec-registries/issues/77#issuecomment-887877607

[2021-08-12 21:30] #194 closed

[2021-11-05 00:18] kdenhartog opened #204 "Add test to check if JSON-LD DID Documents are dropping any terms"
In order to more easily check that JSON-LD representations of did documents are not dropping terms a test should be written to expand and then compact a JSON-LD did document and then compare the input with the output to make sure no terms are being dropped.